In [2]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
df=pd.read_csv('AllSensor.csv',encoding = "ISO-8859-1")
df.head()

,Unnamed: 0,Sensor Address,Time,Date,Temperature,Humidity,Light,Motion,CO2,VDDÊ
0,1,a8-17-58-ff-fe-03-93-d4,15:40:44,14/02/2020,22.6,33,2,0,711,3.627
1,2,a8-17-58-ff-fe-03-93-8f,15:41:11,14/02/2020,15.4,49,32,0,420,3.622
2,3,a8-17-58-ff-fe-03-93-90,15:41:15,14/02/2020,23.2,38,26,0,503,3.626
3,4,a8-17-58-ff-fe-03-93-92,15:41:18,14/02/2020,17.3,45,9,0,416,3.618
4,5,a8-17-58-ff-fe-03-66-b7,15:41:35,14/02/2020,17.7,39,32,0,411,3.603

In [9]:
df1 = df[df['Sensor Address']=='a8-17-58-ff-fe-03-93-d4']

In [10]:
df1

,Unnamed: 0,Sensor Address,Time,Date,Temperature,Humidity,Light,Motion,CO2,VDDÊ
0,1,a8-17-58-ff-fe-03-93-d4,15:40:44,14/02/2020,22.6,33,2,0,711,3.627
10,11,a8-17-58-ff-fe-03-93-d4,15:42:44,14/02/2020,22.6,33,3,0,712,3.624
21,22,a8-17-58-ff-fe-03-93-d4,15:44:44,14/02/2020,22.5,33,2,0,694,3.627
29,30,a8-17-58-ff-fe-03-93-d4,15:46:44,14/02/2020,22.6,33,3,0,717,3.627
44,45,a8-17-58-ff-fe-03-93-d4,15:48:44,14/02/2020,22.6,33,2,0,706,3.627
...,...,...,...,...,...,...,...,...,...,...
888618,888619,a8-17-58-ff-fe-03-93-d4,09:51:50,19/05/2020,26.3,34,313,0,521,3.624
888626,888627,a8-17-58-ff-fe-03-93-d4,09:53:50,19/05/2020,26.3,34,244,0,522,3.624
888636,888637,a8-17-58-ff-fe-03-93-d4,09:55:50,19/05/2020,26.3,34,101,0,547,3.624
888705,888706,a8-17-58-ff-fe-03-93-d4,10:15:50,19/05/2020,26.2,34,309,0,522,3.624
888719,888720,a8-17-58-ff-fe-03-93-d4,10:17:50,19/05/2020,26.2,34,180,0,534,3.627

In [11]:
df1.dropna

<bound method DataFrame.dropna of         Unnamed: 0           Sensor Address      Time        Date  \
0                1  a8-17-58-ff-fe-03-93-d4  15:40:44  14/02/2020
10              11  a8-17-58-ff-fe-03-93-d4  15:42:44  14/02/2020
21              22  a8-17-58-ff-fe-03-93-d4  15:44:44  14/02/2020
29              30  a8-17-58-ff-fe-03-93-d4  15:46:44  14/02/2020
44              45  a8-17-58-ff-fe-03-93-d4  15:48:44  14/02/2020
...            ...                      ...       ...         ...
888618      888619  a8-17-58-ff-fe-03-93-d4  09:51:50  19/05/2020
888626      888627  a8-17-58-ff-fe-03-93-d4  09:53:50  19/05/2020
888636      888637  a8-17-58-ff-fe-03-93-d4  09:55:50  19/05/2020
888705      888706  a8-17-58-ff-fe-03-93-d4  10:15:50  19/05/2020
888719      888720  a8-17-58-ff-fe-03-93-d4  10:17:50  19/05/2020

        Temperature  Humidity  Light  Motion  CO2   VDDÊ
0              22.6        33      2       0  711  3.627
10             22.6        33      3       0  712  3.624
21             22.5        33      2       0  694  3.627
29             22.6        33      3       0  717  3.627
44             22.6        33      2       0  706  3.627
...             ...       ...    ...     ...  ...    ...
888618         26.3        34    313       0  521  3.624
888626         26.3        34    244       0  522  3.624
888636         26.3        34    101       0  547  3.624
888705         26.2        34    309       0  522  3.624
888719         26.2        34    180       0  534  3.627

[36339 rows x 10 columns]>